<nav class="navbar navbar-expand-lg navbar-light">
  <img src="/assets/images/fashify-logo-black.png" class="logo mb-3 ms-5">
  <div class="container-fluid">
    <div class="collapse navbar-collapse mt-3" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mt-4 mb-lg-3 right-item">
        <form class="d-flex ps-3">
          <input class="form-control input-search" type="search" placeholder="Search" aria-label="Search">
        </form>
        <li class="nav-item ps-5">
          <p class="nav-link active">Categories</p>
        </li>
        <!-- <li class="nav-item dropdown active ps-3">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <b> Dropdown</b>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li> -->
        <a class="nav-link active ps-3"><b>cart</b></a>
        <a (click)="onLogin()" class="pt-2 ps-3 text-decoration-none text-dark"><b>login</b></a>      
      </ul>
    </div>
  </div>
</nav>