.nav-padding{
    padding-right: 850px;
}

.nav-color{
    background-color: rgba(249,198,205,255);
}

.nav-text{
    font-family: OCR A Std, monospace;
}

.input-search{
    width: 600px;
    height: 40px;
}

.right-item{
    margin-left: 350px;
}

.logo{
    height: 75px;
    width: 140px;
    margin-left: 30px;
}
