<div class="main-contactus-container contactus-background-color mt-5 pt-5 d-flex">
    <div class="inside-contactus-container contactus-text-color">
        <p class="fs-15">Fashify</p>
        <p class="fs-12 contactus-p">Who We Are</p>
        <p class="fs-12 contactus-p">Join Our Team</p>
        <p class="fs-12 contactus-p">Terms & Conditions</p>
        <p class="fs-12 contactus-p">We Respect Your Privacy</p>
        <p class="fs-12 contactus-p">Fees & Payments</p>
        <p class="fs-12 contactus-p">Returns & Refunds Policy</p>
        <p class="fs-12 contactus-p">Promotions Terms & Conditions</p>
    </div>
    <div class="inside-contactus-container contactus-text-color">
        <p class="fs-15">Help</p>
        <p class="fs-12 contactus-p">Track Your Order</p>
        <p class="fs-12 contactus-p">Frequently Asked Questions</p>
        <p class="fs-12 contactus-p">Returns</p>
        <p class="fs-12 contactus-p">Cancellations</p>
        <p class="fs-12 contactus-p">Customer Care</p>
        <p class="fs-12 contactus-p">How Do I Redeem My Coupon</p>
    </div>
    <div class="inside-contactus-container contactus-text-color">
        <p class="fs-15">Shop by</p>
        <p class="fs-12 contactus-p">Indie</p>
        <p class="fs-12 contactus-p">Stores</p>
        <p class="fs-12 contactus-p">New Arrivals</p>
        <p class="fs-12 contactus-p">Brand</p>
        <p class="fs-12 contactus-p">Directory</p>
        <p class="fs-12 contactus-p">Home</p>
        <p class="fs-12 contactus-p">Collections</p>        
    </div>
    <div class="inside-contactus-container contactus-text-color">
        <p class="fs-15">Follow us</p>
        <p class="fs-12 contactus-p">Facebook</p>
        <p class="fs-12 contactus-p">Instagram-FASHIFYife</p>
        <p class="fs-12 contactus-p">Instagram-FASHIFY LUXE</p>
        <p class="fs-12 contactus-p">Twitter</p>
        <p class="fs-12 contactus-p">Pinterest</p>
    </div>
</div>
