.sm-btn {
    width: 75px;
    height: 50px;
    font-size: 20px;
}

.md-btn {
    width: 100px;
    height: 150px;
    font-size: 20px;
}

.lg-btn {
    width: 75px;
    height: 50px;
    font-size: 20px;
}