.p-dialog {
    background-color: white;
    padding: 30px;
    padding-top: 60px;
    border-radius: 3%;
    height: 550px;
}

.p-dialog-mask.p-component-overlay {
    background-color: #0000005e;
}
